table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  background: #FEFFFF;
}

th {
  background: #2B7A78;
  color: #FEFFFF;
}

th, td {
  padding: 10px;
  border: 1px solid #DEF2F1;
  text-align: left;
}

td {
  color: #17252A;
}

button {
  background: #17252A;
  color: #FEFFFF;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #2B7A78;
}
